* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --brand-colors-explorer-dark: #065E7C;
    --color-text-base: #ffffff;
}

:root {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

div #app {
    display: grid;
    grid-template-rows: max-content 1fr 1fr max-content;
    height: 100vh;
}

.main-and-section {
    overflow-y: hidden;
}

.container {
    width: 100vw;

    margin: 0 auto;
    display: flex;

    align-items: center;


    padding: 12px 24px;
    gap: 24px;

    background-color: var(--brand-colors-explorer-dark);
}

header .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header form {
    flex: 1;
}

.input-wrapper input {
    padding: 12px 16px 12px 14px;
    background-color: rgba(255, 255, 255, 0.20);
    border: 0;
    border-radius: .4rem;
}

.input-wrapper input::placeholder {
    color: var(--color-text-base);
    opacity: 0.56;
}

.avatar {
    width: 40px;
    height: 40px;

    object-fit: cover;

    border-radius: 50%;
}

main {
    overflow: hidden;
}

main img {
    width: 100vw;
}

div .action {
    gap: 16px;
}

button {
    border: none;
}

div .action button img {
    width: 40px;
    height: 40px;
}

button+button {
    margin-left: 16px;
}

main div {
    padding: 31px 26px 34px 22px;
}

.sidebar {
    width: 100vw;
    padding: 0 24px 39px 22px;
    overflow-x: hidden;
    gap: 32px;
}

section .related-article {
    column-gap: 16px;
    display: flex;
    place-items: start;

    margin-top: 32px;
    width: 382px;
    height: 84px;
}

section .related-article div {
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: 8px;
}



footer {
    color: var(--color-text-base);
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: var(--brand-colors-explorer-dark);
}

input::placeholder {
    font-size: 16px;
    font-weight: 600;
}

main div h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
}

main div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

section h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
}



section p {
    font-size: 14px;
    font-weight: 400;

}

footer {
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 1120px) {

    /*codigo novo para a versão de pc*/
    body {
        background: #F4FCFF;
    }

    .container {
        padding: 12px 112px;
        display: flex;
        width: 100vw;
        height: 72px;
        padding: 12px 112px;
        justify-content: space-between;
        align-items: center;
    }

    .input-wrapper input {
        display: flex;
        width: 100%;
        padding: 12px 16px 12px 14px;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
    }

    .main-and-section {
        padding: 44px 110px 39px 110px;

        display: flex;
        gap: 16px;
    }

    main {
        width: 100%;

    }

    main img {
        width: auto;
        height: 405px;
        flex-shrink: 0;
    }

    main .description {
        width: 800px;
        height: auto;
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

    section {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        width: 384px;
        height: 615px;

        overflow-y: hidden;
    }

    footer {
        width: 100vw;
        height: 64px;
        padding: 16px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}